body {
    font-family: Arial, sans-serif;
    background-color: #0d0d0d;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.proxy-header {
    display: flex;
    align-items: center;
    background-color: #141414;
    padding: 5px 10px;
    color: white;
    height: 30px; 
}

.proxy-header .buttons {
    display: flex;
    margin-right: auto;
}

.proxy-header button {
    background-color: #1A1A1A;
    border: none;
    padding: 8px 12px;
    margin: 0 5px;
    cursor: pointer;
    color: white;
    font-size: 14px; 
    border-radius: 8px;
    transition: 0.3s ease-in-out;
}

.proxy-header button:hover {
    background-color: #555;
}

iframe {
    flex-grow: 1;
    width: 100%;
    height: calc(100vh - 40px);
    border: none;
}