@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&family=Outfit:wght@100..900&display=swap');

body {
    color: #fff;
    background-color: #0d0d0d;
    text-align: center;
    font-family: "Outfit", sans-serif;
}

#search-container {
    margin-top: 5px;
}

.search-bar-home {
    padding: 20px;
    width: 400px;
    border: none;
    background-color: #141414;
    border-radius: 50px;
    font-family: "Outfit", sans-serif;
    outline: none;
    margin: 0;
    color: #fff;
    transition: 0.3s;
}

input {
    width: 100%;
    max-width: 400px;
    padding: 10px 20px;
    margin: 10px 0;
    font-size: 16px;
    border: none;
    color: #fff;
    background-color: #141414;
    border-radius: 50px;
}

.search-button {
    padding: 20px 20px;
    background-color: #141414;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 50px;
    margin: 5px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.search-button:hover {
    background-color: #555;
}
