
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Outfit:wght@100..900&display=swap');

body {
    color: #fff;
    margin: 0;
    font-family: "Outfit", sans-serif;
    text-align: center;
    background-color: #0d0d0d;
    overflow-x: hidden;
}

.banner {
    width: 100%;
    height: calc(100vh - 0px);
    display: flex;
    flex-direction: column;    
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #0d0d0d;
    color: #fff;
    position: relative;
}

.scroll-down-btn {
    position: absolute;
    bottom: 20px;
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}
        
h1 {
    font-size: 2.2em;
    margin: 0;
}

.side-navbar {
    z-index: 999;
    height: 100%;
    width: 60px; 
    position: fixed;
    top: 0;
    left: 0;
    background-color: #141414;
    overflow-x: hidden;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.side-navbar a {
    padding: 15px 0;
    text-decoration: none;
    color: #fff;
    display: block;
    text-align: center;
    width: 100%;
    transition: background-color 0.3s;
}

.side-navbar a:hover {
    background-color: #575757;
}

.side-navbar a i {
    font-size: 24px; 
}

.side-navbar img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 100%;
}

.sigma, .discord {
    padding: 20px 25px;
    background-color: #141414;
    color: white;
    border-radius: 15px;
    border: none;
    margin: 4px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.sigma:hover {
    background: #555;
}

.discord:hover {
    background: #5865F2;
    color: #000;
}

#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0d0d0d;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9998;
    opacity: 1;
    transition: opacity 0.5s ease;
}

.dots {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.dot {
    width: 15px;
    height: 15px;
    margin: 0 5px;
    background-color: white;
    border-radius: 50%;
    animation: bounce 0.6s infinite alternate;
}

.dot:nth-child(1) {
    animation-delay: 0s;
}

.dot:nth-child(2) {
    animation-delay: 0.2s;
}

.dot:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-20px);
    }
}

#fetching-text {
    margin-top: 10px;
    font-size: 1rem;
    color: #ccc;
}

.search-container {
    text-align: center; 
    margin-bottom: 20px;
}

#search {
    width: 40vw;
    padding: 10px;
    background-color: #141414;
    border-radius: 50px;
    border: none;
    color: white;
}

.buttons-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 5px; 
}

.container {
    margin-left: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 20px; 
}

.image-item {
    position: relative;
    width: 190px;
    height: 190px;
    overflow: hidden;
    transition: transform 0.3s;
    border-radius: 10px;
}

.image-item:hover {
    transform: scale(1.1);
}

.image-item a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: inherit;
}

.image-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.label {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(20, 20, 20, 0.7);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    opacity: 0; /* Hide the label by default */
    transition: opacity 0.3s;
}

.image-item:hover .label {
    opacity: 1; /* Show the label on hover */
}


.container-iframe {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.iframe-container {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 75vw;
    height: 75vh;
    overflow: hidden;
}

iframe {
    width: 100%;
    height: 100%;
    background-color: #fff;
    border: none;
}

.controls {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 75vw;
    height: 4.5vh;
    background-color: #141414;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.icon {
    color: white;
    margin-right: 15px;
    cursor: pointer;
    font-size: 18px;
}

i {
    color: #fff;
    transition: 0.3s;
    cursor: pointer;
}

.ads-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.image-link {
    cursor: pointer;
    transition: transform 0.3s;
    display: inline-block;
    margin: 15px;
}

.image-link img {
    width: 500px;
    height: 200px;
    border-radius: 8px;
    transition: 0.2s ease-in-out;
}

.image-link img:hover {
    transform: translateY(-10px);
}

.box {
    background-color: #141414;
    border: none;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    width: 20vw;
    transition: 0.2s ease-in-out;
}

.box:hover {
    transform: translateY(-10px);
}

.container-settings {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

.review-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 80%;
    margin: auto;
    color: #fff;
}

.review-box {
    background-color: #141414; 
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    width: 250px; 
    height: 200px; 
    position: relative;
    margin: 10px;
    transition: 0.2s ease-in-out;
}

.review-box:hover {
    transform: scale(1.1);
}

.review-box p {
    font-size: 16px;
    color: #fff; 
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}


.review-box .bottom-left {
    position: absolute;
    bottom: 10px;
    left: 10px;
    display: flex;
    align-items: center;
}

.review-box h6 {
    margin: 0;
    font-size: 14px;
    color: #fff;
}

hr {
    width: 50%;
    height: 2px;
    background-color: #fff;
    border: none;
    margin: 20px auto;
}

.container-hero {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15;
}

.text-box {
    width: 500px;
    padding: 20px;
    border: none;
    background-color: #141414;
    border-radius: 10px;
    color: #fff;
    font-family: Arial, sans-serif;
}

.l-box {
    border-radius: 15px;
    display: flex;
    align-items: center;
    border: none;
    padding: 10px;
    width: 50vw;
    background-color: #141414; 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.box-image {
    border-radius: 15px;
    width: 150px;
    height: 150px;
    margin-right: 10px;
}

.leaderboard h3 {
    color: #fff;
    margin: 0;
    font-size: 18px;
}

.leaderboard p {
    margin: 5px 0 0;
    color: #fff;
    font-size: 14px;
}

.l-box:hover {
    transform: scale(1.05);
}

a {
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 0px;
}
